## Deliverable 2. Create a Customer Travel Destinations Map.

In [55]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key = g_key)

In [56]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_DataBase/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Cloudiness,Humidity,Wind Speed,Current Description
0,0,Ostersund,SE,2022-07-25 23:57:24,63.1792,14.6357,57.65,20,100,9.22,few clouds
1,1,Tiksi,RU,2022-07-25 23:57:25,71.6872,128.8694,50.99,48,81,4.65,scattered clouds
2,2,Castro,BR,2022-07-25 23:57:26,-24.7911,-50.0119,59.70,94,72,2.13,overcast clouds
3,3,Nuuk,GL,2022-07-25 23:57:26,64.1835,-51.7216,43.88,82,87,5.01,broken clouds
4,4,Cidreira,BR,2022-07-25 23:57:27,-30.1811,-50.2056,61.09,16,95,5.91,few clouds

In [57]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp=float(input("What is the minimum temperature for your vacation?"))
max_temp= float(input("What is the maximum tempterature for your vacation?"))

What is the minimum temperature for your vacation?75
What is the maximum tempterature for your vacation?90

In [58]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Cloudiness,Humidity,Wind Speed,Current Description
7,7,Gat,IL,2022-07-25 23:57:29,31.6100,34.7642,78.40,0,71,1.90,clear sky
12,12,Rikitea,PF,2022-07-25 23:57:31,-23.1203,-134.9692,75.61,72,73,14.16,broken clouds
15,15,Kapaa,US,2022-07-25 23:57:33,22.0752,-159.3190,84.18,8,66,5.01,clear sky
22,22,Tambacounda,SN,2022-07-25 23:57:35,13.7539,-13.7586,78.85,20,94,4.61,few clouds
35,35,Uruzgan,AF,2022-07-25 23:57:40,32.8333,66.0000,75.96,57,47,0.36,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
661,661,Patnagarh,IN,2022-07-25 23:58:07,20.7167,83.1500,76.57,100,92,3.11,overcast clouds
666,666,Morant Bay,JM,2022-07-26 00:01:59,17.8815,-76.4093,83.82,41,83,10.09,scattered clouds
667,667,Lock Haven,US,2022-07-26 00:01:59,41.1370,-77.4469,82.29,39,60,4.70,scattered clouds
669,669,Pochutla,MX,2022-07-26 00:02:00,15.7432,-96.4661,85.82,81,79,3.51,broken clouds
670,670,Khash,IR,2022-07-26 00:02:01,28.2211,61.2158,75.29,100,71,11.48,light rain

In [59]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Cloudiness             0
Humidity               0
Wind Speed             0
Current Description    0
dtype: int64

In [60]:
preferred_cities_df.count()

City_ID                259
City                   259
Country                259
Date                   259
Lat                    259
Lng                    259
Max Temp               259
Cloudiness             259
Humidity               259
Wind Speed             259
Current Description    259
dtype: int64

In [61]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Cloudiness,Humidity,Wind Speed,Current Description
7,7,Gat,IL,2022-07-25 23:57:29,31.6100,34.7642,78.40,0,71,1.90,clear sky
12,12,Rikitea,PF,2022-07-25 23:57:31,-23.1203,-134.9692,75.61,72,73,14.16,broken clouds
15,15,Kapaa,US,2022-07-25 23:57:33,22.0752,-159.3190,84.18,8,66,5.01,clear sky
22,22,Tambacounda,SN,2022-07-25 23:57:35,13.7539,-13.7586,78.85,20,94,4.61,few clouds
35,35,Uruzgan,AF,2022-07-25 23:57:40,32.8333,66.0000,75.96,57,47,0.36,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
661,661,Patnagarh,IN,2022-07-25 23:58:07,20.7167,83.1500,76.57,100,92,3.11,overcast clouds
666,666,Morant Bay,JM,2022-07-26 00:01:59,17.8815,-76.4093,83.82,41,83,10.09,scattered clouds
667,667,Lock Haven,US,2022-07-26 00:01:59,41.1370,-77.4469,82.29,39,60,4.70,scattered clouds
669,669,Pochutla,MX,2022-07-26 00:02:00,15.7432,-96.4661,85.82,81,79,3.51,broken clouds
670,670,Khash,IR,2022-07-26 00:02:01,28.2211,61.2158,75.29,100,71,11.48,light rain

In [71]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Gat,IL,78.40,clear sky,31.6100,34.7642,
12,Rikitea,PF,75.61,broken clouds,-23.1203,-134.9692,
15,Kapaa,US,84.18,clear sky,22.0752,-159.3190,
22,Tambacounda,SN,78.85,few clouds,13.7539,-13.7586,
35,Uruzgan,AF,75.96,broken clouds,32.8333,66.0000,
37,Sao Filipe,CV,78.33,overcast clouds,14.8961,-24.4956,
43,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,
45,Hilo,US,89.28,scattered clouds,19.7297,-155.0900,
46,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,
47,Albany,US,76.89,scattered clouds,42.6001,-73.9662,

In [72]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [73]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Gat,IL,78.40,clear sky,31.6100,34.7642,OlusHome
12,Rikitea,PF,75.61,broken clouds,-23.1203,-134.9692,People ThankYou
15,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
37,Sao Filipe,CV,78.33,overcast clouds,14.8961,-24.4956,Hotel Xaguate
43,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
661,Patnagarh,IN,76.57,overcast clouds,20.7167,83.1500,VISHAL STUDIO
666,Morant Bay,JM,83.82,scattered clouds,17.8815,-76.4093,Whispering Bamboo Cove Resort
667,Lock Haven,US,82.29,scattered clouds,41.1370,-77.4469,Fairfield Inn & Suites by Marriott Lock Haven
669,Pochutla,MX,85.82,broken clouds,15.7432,-96.4661,Hotel Posada San Jose
670,Khash,IR,75.29,light rain,28.2211,61.2158,خوابگاه آبجی محدثه

In [76]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [77]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [78]:
# 11a. Add a marker layer for each city to the map. 
description = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, dissipating= False,
                               max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
plt.savefig("WeatherPy_vacation_map.png")