## Deliverable 3. Create a Travel Itinerary Map.

In [34]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [35]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Gat,IL,78.40,clear sky,31.6100,34.7642,OlusHome
1,12,Rikitea,PF,75.61,broken clouds,-23.1203,-134.9692,People ThankYou
2,15,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,37,Sao Filipe,CV,78.33,overcast clouds,14.8961,-24.4956,Hotel Xaguate
4,43,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort

In [36]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [37]:
# 4a. Add a marker layer for each city to the map.
description= vacation_df["Current Description"]
fig = gmaps.figure(center=(30,31), zoom_level= 1.5)
heat_layer = gmaps.heatmap_layer(locations, dissipating = False, max_intensity = 300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["Hotel Name"]=="Hotel Relax Inn")]
vacation_end = vacation_df.loc[(vacation_df["Hotel Name"]== "Hotel Relax Inn")]
vacation_stop1 = vacation_df.loc[(vacation_df["Hotel Name"]=="R S Residency")]
vacation_stop2 = vacation_df.loc[(vacation_df["Hotel Name"]=="R S Residency")] 
vacation_stop3 = vacation_df.loc[(vacation_df["Hotel Name"]== "Circuit House")]

In [40]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([20.7141, 70.9822], dtype=object)

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Hotel_Relax_Inn = start
VISHAL_STUDIO = stop1
R_S_Residency = stop2
Circuit_House = stop3 
roadtrip = gmaps.directions_layer(Hotel_Relax_Inn, Hotel_Relax_Inn, 
                                  waypoints = [R_S_Residency, R_S_Residency, Circuit_House],
                                  travel_mode="DRIVING")

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,485,Diu,IN,80.96,overcast clouds,20.7141,70.9822,Hotel Relax Inn
1,661,Patnagarh,IN,76.57,overcast clouds,20.7167,83.1500,VISHAL STUDIO
2,312,Raxaul,IN,80.35,broken clouds,26.9833,84.8500,R S Residency
3,79,Tezu,IN,75.22,overcast clouds,27.9167,96.1667,Circuit House

In [50]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(marker_layer)
fig.add_layer(roadtrip)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))